# Core libraries
python-dotenv
wikitextparser
langchain
langchain-classic
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-pinecone
langchain-huggingface
pinecone-client
sentence-transformers
uvicorn

# UI Framework
gradio